body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #fff;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul,
ol {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}
img {
  display: block;
  max-width: 100%;
}

button {
  cursor: pointer;
  font-family: inherit;
  color: inherit;
}

input {
  font-family: inherit;
}

.container {
  width: 1158px;
  padding: 0 15px;
  margin: 0 auto;
}

/* HEADER */

.header {
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0 1px 6px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 2px 1px 0 rgba(46, 47, 66, 0.08);
  position: sticky;
  top: 0;
  z-index: 999;
  background-color: #fff;
}

.header-container {
  display: flex;
  align-items: center;
}
.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #2e2f42;
  padding: 24px 0;
  margin-right: 76px;
}

.weblogo {
  color: #4d5ae5;
}

.page-nav {
  display: flex;
  align-items: center;
}

.page-menu-list {
  display: flex;
  gap: 24px;
  align-items: center;
}
.link-menu {
  position: relative;
  display: block;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
  padding: 24px 0;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.link-menu:hover,
.link-menu:focus,
.link-menu .current {
  color: #404bbf;
}

.link-menu:active {
  color: #404bbf;
  text-decoration: underline;
}

.link-menu::after {
  content: "";
  position: absolute;
  border-radius: 2px;
  width: 100%;
  height: 4px;
  left: 0;
  bottom: -1px;
  background-color: #404bbf;
  opacity: 0;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.link-menu:hover::after,
.link-menu:focus::after,
.link-menu .current::after {
  opacity: 1;
}

.page-adress {
  font-style: normal;
  margin-left: auto;
}

.list-adress {
  display: flex;
  gap: 40px;
  align-items: center;
}
.link-adress {
  display: block;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  padding: 24px 0;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.link-adress:hover,
.link-adress:focus {
  color: #404bbf;
}

/* HERO */

.hero {
  background: #2e2f42;
  padding-top: 188px;
  padding-bottom: 188px;
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/people-office.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  max-width: 1440px;
  margin: 0 auto;
}
.hero-title {
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07143;
  letter-spacing: 0.02em;
  text-align: center;
  color: #fff;

  max-width: 496px;
  margin: 0 auto;
  margin-bottom: 48px;
}
.hero-btn {
  background-color: #4d5ae5;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
  padding: 16px 32px;
  margin: 0 auto;
  display: block;
  border-radius: 4px;
  border: none;
  min-width: 169px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.hero-btn:hover,
.hero-btn:focus {
  background-color: #404bbf;
}

/* SECTION ADVANT */
.sec-advant {
  padding-top: 120px;
  padding-bottom: 120px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.advant-list {
  display: flex;
  gap: 24px;
  align-items: center;
}
.advant-item {
  width: calc((100% - 72px) / 4);
}
.advant-box-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 112px;
  gap: 24px;
  margin-bottom: 8px;
  padding: 24px 0;
  border: 1px solid #8e8f99;
  border-radius: 4px;
  background-color: #f4f4fd;
}

.advant-item-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
  color: #2e2f42;
}
.advant-item-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

/* SECTION TEAM */
.section-team {
  background-color: #f4f4fd;
  padding-top: 120px;
  padding-bottom: 120px;
}
.title-team {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11111;
  letter-spacing: 0.02em;
  text-align: center;
  margin-bottom: 72px;
  min-width: 162px;
}

.list-team {
  display: flex;
  gap: 24px;
}
.item-team {
  background-color: #fff;
  border-radius: 0 0 4px 4px;
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
  background-color: #fff;
  width: calc((100% - 72px) / 4);
}
.name-box {
  padding: 32px 0;
}
.team-name {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-align: center;
  margin-bottom: 8px;
}
.team-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  color: #434455;
  margin-bottom: 8px;
}
.list-sm {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
}
.item-sm {
}
.link-sc {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #4d5ae5;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.link-sc:hover,
.link-sc:focus {
  background-color: #404bbf;
}
.icon-sm {
  fill: white;
}
/* SECTION PORTFOLIO */
.section-portfolio {
  padding-top: 120px;
  padding-bottom: 120px;
}
.title-portfolio {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11111;
  letter-spacing: 0.02em;
  text-align: center;
  margin-bottom: 72px;
  min-width: 218px;
  margin: 0 auto 72px;
}

.list-portfolio {
  display: flex;
  flex-wrap: wrap;
  gap: 48px 24px;
}
.item-portfolio {
  width: calc((100% - 48px) / 3);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.item-portfolio:hover,
.item-portfolio:focus {
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}

.portfolio-box {
  border-bottom: 1px solid #e7e9fc;
  border-left: 1px solid #e7e9fc;
  border-right: 1px solid #e7e9fc;
  padding: 32px 16px;
}
.item-title-portfolio {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
}
.portfolio-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}
.portfolio-block {
  position: relative;
  overflow: hidden;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  background-color: #4d5ae5;
  padding: 40px 32px;
}

.item-portfolio:hover .overlay,
.item-portfolio:focus .overlay {
  transform: translateY(0);
}
/* FOOTER */

.footer {
  background-color: #2e2f42;
  padding-top: 100px;
  padding-bottom: 100px;
}

.cont-logo-footer {
  margin-right: 120px;
}

.logo-footer {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.16667;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #f4f4fd;
  display: inline-block;
  margin-bottom: 16px;
}
.text-footer {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  max-width: 264px;
}

.cont-footer {
  display: flex;
  align-items: baseline;
}
.footer-sm-text {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #fff;
  margin-bottom: 16px;
}
.link-sm-footer:hover,
.link-sm-footer:focus {
  background-color: #31d0aa;
}

.footer-cont-form {
  margin-left: auto;
}

.footer-subscribe-text {
  color: #fff;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  margin-bottom: 16px;
}
.footer-form {
  display: flex;
  gap: 24px;
}
.footer-input {
  border: 1px solid #fff;
  border-radius: 4px;
  width: 264px;
  background-color: transparent;
  font-weight: 400;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  color: #fff;
  padding: 8px 16px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
}

.footer-button {
  border-radius: 4px;
  padding: 8px 24px;
  min-width: 165px;
  height: 40px;
  background-color: #4d5ae5;
  border: none;

  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
}

.footer-button-icon {
  fill: #fff;
  margin-left: 16px;
}

.backdrop .is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.backdrop {
  position: fixed;
  background-color: rgba(46, 47, 66, 0.4);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 999;
  /* opacity: 0;
  pointer-events: none;
  visibility: hidden; */
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal {
  border-radius: 4px;
  width: 408px;
  min-height: 584px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12),
    0 2px 1px 0 rgba(0, 0, 0, 0.2);
  background-color: #fcfcfc;
  padding: 72px 24px 24px 24px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop:not(.is-open) .modal {
  transform: translate(-50%, -50%) scale(1.5);
}

.btn-close {
  width: 24px;
  height: 24px;
  border-radius: 100%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: #e7e9fc;
  padding: 0;
  line-height: 0;

  position: absolute;
  top: 24px;
  right: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.btn-close:hover,
.btn-close:focus {
  background-color: #404bbf;
  border: none;
}

.btn-close-icon {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.btn-close:hover .btn-close-icon,
.btn-close:focus .btn-close-icon {
  fill: #fff;
}
.modal-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  margin: 0 auto 16px;
}
.form-contact {
}
.form-user {
  margin-bottom: 8px;
  position: relative;
}
.title-input {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
  margin-bottom: 4px;
  display: block;
}
.form-input-name {
  position: relative;
}
.form-input {
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  width: 100%;
  height: 40px;
  padding-left: 38px;
  outline: transparent;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-input:focus {
  border: 1px solid #4d5ae5;
}

.form-input-icon {
  position: absolute;
  top: 50%;
  left: 16px;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-input:focus + .form-input-icon {
  fill: #4d5ae5;
}
.cont-coment {
  margin-bottom: 16px;
}
.form-coment-text {
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  width: 100%;
  min-height: 120px;
  outline: transparent;
  resize: none;
  padding: 8px 16px;
}
.form-coment-text:focus {
  border: 1px solid #4d5ae5;
}
.form-coment-text::placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
}
.cont-checkbox {
  margin-bottom: 24px;
}
.label-checkbox {
  cursor: pointer;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.04em;
  color: #8e8f99;
}
.input-checkbox {
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.input-checkbox:checked + .label-checkbox .custom-checkbox {
  background-color: #404bbf;
  fill: #fff;
}

.custom-checkbox {
  border-radius: 2px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  width: 16px;
  height: 16px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  margin-right: 8px;
}
.link-checkbox {
  line-height: 1.33;
  text-decoration: underline;
  text-decoration-skip-ink: none;
  color: #4d5ae5;
}
.modal-btn-send {
  display: block;
  border-radius: 4px;
  padding: 16px 32px;
  min-width: 169px;
  height: 56px;

  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  background-color: #4d5ae5;
  border: none;

  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  text-align: center;
  color: #fff;
  margin: 0 auto;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-btn-send:hover,
.modal-btn-send:focus {
  background-color: #404bbf;
}
