body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #fff;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul,
ol {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}
img {
  display: block;
  max-width: 100%;
}

button {
  cursor: pointer;
}

.container {
  width: 1158px;
  padding: 0 15px;
  margin: 0 auto;
}

/* HEADER */

.header {
  border-bottom: 1px solid #e7e9fc;
}

.header-container {
  display: flex;
  align-items: center;
}
.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #2e2f42;
  padding: 24px 0;
  margin-right: 76px;
}

.weblogo {
  color: #4d5ae5;
}

.page-nav {
  display: flex;
  align-items: center;
}

.page-menu-list {
  display: flex;
  gap: 24px;
  align-items: center;
}
.link-menu {
  display: block;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
  padding: 24px 0;
}

.link-menu:hover,
.link-menu:focus {
  color: #404bbf;
}

.link-menu:active {
  color: #404bbf;
  text-decoration: underline;
}

.page-adress {
  font-style: normal;
  margin-left: auto;
}

.list-adress {
  display: flex;
  gap: 40px;
  align-items: center;
}
.link-adress {
  display: block;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  padding: 24px 0;
}

.link-adress:hover,
.link-adress:focus {
  color: #404bbf;
}

/* HERO */

.hero {
  background: #2e2f42;
  padding-top: 188px;
  padding-bottom: 188px;
}
.hero-title {
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07143;
  letter-spacing: 0.02em;
  text-align: center;
  color: #fff;

  max-width: 496px;
  margin: 0 auto;
  margin-bottom: 48px;
}
.hero-btn {
  background-color: #4d5ae5;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
  padding: 16px 32px;
  margin: 0 auto;
  display: block;
  border-radius: 4px;
  border: none;
  min-width: 169px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
}
.hero-btn:hover,
.hero-btn:focus {
  background-color: #404bbf;
}

/* SECTION ADVANT */
.sec-advant {
  padding-top: 120px;
  padding-bottom: 120px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.advant-list {
  display: flex;
  gap: 24px;
  align-items: center;
}
.advant-item {
  width: calc((100% - 72px) / 4);
}
.advant-item-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
  color: #2e2f42;
}
.advant-item-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

/* SECTION TEAM */
.section-team {
  background-color: #f4f4fd;
  padding-top: 120px;
  padding-bottom: 120px;
}
.title-team {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11111;
  letter-spacing: 0.02em;
  text-align: center;
  margin-bottom: 72px;
  min-width: 162px;
}

.list-team {
  display: flex;
  gap: 24px;
}
.item-team {
  background-color: #fff;
  border-radius: 0 0 4px 4px;
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
  background-color: #fff;
  width: calc((100% - 72px) / 4);
}
.name-box {
  padding: 32px 0;
}
.team-name {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-align: center;
  margin-bottom: 8px;
}
.team-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  color: #434455;
}

/* SECTION PORTFOLIO */
.section-portfolio {
  padding-top: 120px;
  padding-bottom: 120px;
}
.title-portfolio {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11111;
  letter-spacing: 0.02em;
  text-align: center;
  margin-bottom: 72px;
  min-width: 218px;
  margin: 0 auto 72px;
}

.list-portfolio {
  display: flex;
  flex-wrap: wrap;
  gap: 48px 24px;
}
.item-portfolio {
  width: calc((100% - 48px) / 3);
}

.portfolio-box {
  border-bottom: 1px solid #e7e9fc;
  border-left: 1px solid #e7e9fc;
  border-right: 1px solid #e7e9fc;
  padding: 32px 16px;
}
.item-title-portfolio {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
}
.portfolio-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

/* FOOTER */

.footer {
  background-color: #2e2f42;
  padding-top: 100px;
  padding-bottom: 100px;
}

.logo-footer {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.16667;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #f4f4fd;
  display: inline-block;
  margin-bottom: 16px;
}
.text-footer {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  max-width: 264px;
}
